.personajes-grid {
  display: flex;
  flex-wrap: wrap;
}

.personaje-item {
  width: 20%;
  position: relative;
  overflow: hidden;
}

.personaje-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.7s ease;
}
.personaje-item img:hover {
  transform: scale(1.1);
}
.personaje-item__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 16px;
}


.personaje-page {
  padding-top: 80px;
  text-align: center;
}